root = true

[*.{kt,kts}]
# 1. Mematikan aturan indentasi yang menyebabkan crash internal pada PrinterService.kt
ktlint_standard_indent = disabled

# 2. Menekan (suppress) aturan penamaan fungsi (standard:function-naming)
ktlint_standard_function-naming = disabled

# 3. Menekan (suppress) aturan penamaan backing property (standard:backing-property-naming)
ktlint_standard_backing-property-naming = disabled

# 4. Opsional: Menekan aturan wildcard import jika Anda juga ingin menyembunyikannya
ktlint_standard_no-wildcard-imports = disabled

ktlint_standard_kdoc = disabled
ktlint_standard_filename = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_kdoc-wrapping = disabled